<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020593391839-1b09vabhpkf4mfpcv24t4f1rs48ln26q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020593391839-1b09vabhpkf4mfpcv24t4f1rs48ln26q</string>
	<key>API_KEY</key>
	<string>AIzaSyCjx7W9s_at9bkxl1yQlCiNq2rsil1Si4c</string>
	<key>GCM_SENDER_ID</key>
	<string>1020593391839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.benjiUser</string>
	<key>PROJECT_ID</key>
	<string>benji-18de3</string>
	<key>STORAGE_BUCKET</key>
	<string>benji-18de3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020593391839:ios:25f9672be37b92e831816a</string>
</dict>
</plist>